@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Geist", Arial, Helvetica, sans-serif;
}

[cmdk-list-sizer] {
  @apply h-auto flex flex-col gap-2;
}

/* The description of books are in markdown, so we can't use Tailwind utilies on it */
.markdown-container {
  & a {
    @apply hover:underline;
  }

  & hr {
    @apply my-8;
  }
}
