@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Geist", Arial, Helvetica, sans-serif;
}

/* The description of books are in markdown, so we can't use Tailwind utilies on it */
.markdown-container {
  & a {
    text-decoration: underline;
  }

  & hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}